table.boxaligncenter.generaltable.user-grade *{
	background-color: #E0E8EE !important;
}
table.boxaligncenter.generaltable.user-grade *.level2, table.boxaligncenter.generaltable.user-grade *.level2 *{
	background-color: #FFFFFF !important;
}

table.boxaligncenter.generaltable.user-grade *.level3, table.boxaligncenter.generaltable.user-grade *.level3 *{
	background-color: #FFFBEF !important;
}
table.boxaligncenter.generaltable.user-grade *.level4, table.boxaligncenter.generaltable.user-grade *.level4 *{
	background-color: #FFFFFF !important;
}
table.boxaligncenter.generaltable.user-grade *.level5, table.boxaligncenter.generaltable.user-grade *.level5 *{
	background-color: #FFFBEF !important;
}
table.boxaligncenter.generaltable.user-grade *.level6, table.boxaligncenter.generaltable.user-grade *.level6 *{
	background-color: #FFFFFF !important;
}
table.boxaligncenter.generaltable.user-grade *.level7, table.boxaligncenter.generaltable.user-grade *.level7 *{
	background-color: #FFFBEF !important;
}

/* Color Scheme for AIS Moddle Gradebook */